# ---------------- ENV & SECRETS ----------------
.env
.env.*

# ---------------- DATABASE ----------------
data/
*.db

# ---------------- PYTHON ----------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------- VIRTUAL ENV ----------------
venv/
.venv/

# ---------------- STREAMLIT ----------------
.streamlit/

# ---------------- OS ----------------
.DS_Store
Thumbs.db